/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
 /* .container {
    max-width: 1000px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*Large buttons on QA page*/
.bt_large {
  width: 50%;
  height: 1000px;
  float: left;
  font-size: 2.5em; 
  text-align: center;
  position: relative;
}
.bt_large.q {
  color: white;
  background-color: #54b2e3;
}
.bt_large.q:hover {
  background-color: #289edc;
}
.bt_large.a {
  color: white;
  background-color: #ffb100;
}
.bt_large.a:hover {
  background-color: #ff9a00;
}
.bt_large img {
  padding: 1em;
  height: 50%;
}

/*Profile Styles */

.leftprof {
  margin: 4.15%;
}

.scroll {
  overflow-y: scroll;
  background-color: #3eeab8;
  height: 737px;
}

.name {
  font-size: 4em;
  font-weight: 700;
}

.question {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: .5em;
  margin-top: -1.5em;
}

.Experience, .Passions {
  font-weight: 300;
  font-size: 1.5em;
}

/* yes/no */

button {
  padding: 0;
  border: 0;
}

.noButton, .yesButton {
  position: relative;
  float: left;
  width: 50%;
  margin: 0;
  height: 100%;
}

.noButton {
  background-color: #ff3333;
}
.noButton:hover {
  background-color: #ff0000; 
}

.yesButton {
  background-color: #1aff1a;
}
.yesButton:hover {
  background-color: #00e600;
}

/* Find Meeting Button */
.scheduleMeeting {
  position: relative;
  margin: auto;
  width: 50%;
  margin-top: 1.5em;
}

.scheduleButton {
  width: 100%;
  font-size: 2em;
  font-weight: 700;
  height: 2em;
  background-color: #54b2e3;
  border-radius: .5em;
  color: #ffffff;
}
.scheduleButton:hover {
  background-color: #289edc;
}

/* Toolbar Styles */

.notifSmall {
  width: 10px;
  height: 10px;
  margin-top: 22px;
  background: url(../images/notif.png);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  -o-background-size: 10px 10px;
  background-size: 10px 10px;
}
.notifLarge {
  width: 30px;
  height: 30px;
  margin-top: 11px;
  background: url(../images/notif.png);
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background-size: 30px 30px;
}

/* Question & Answer Pages*/

.answer_form, .question_form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.question_input {
  width: 100%;
  height: 6em;
  margin-top: 2em;
}

.answer_submit, .question_submit {
  background-color: #54b2e3;
  border: none;
  border-radius: .5em;
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  padding: 0;
  width: 100%;
  margin-top: 1em;
}
.answer_submit:hover, .question_submit:hover {
  background-color: #289edc;
}

.matches_header {
  font-size: 2.5em;
  font-weight: 700;
  margin-left: 1em;
} 
.no_matches_text {
  font-size: 1.5em;
  margin-left: 1.8em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}