/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
 /* .container {
    max-width: 1000px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*Large buttons on QA page*/
.bt_large {
  width: 50%;
  height: 1000px;
  float: left;
  font-size: 2.5em; 
  text-align: center;
  position: relative;
}
.bt_large.q {
  color: white;
  background-color: #54b2e3;
}
.bt_large.a {
  color: white;
  background-color: #94d6f0;
}
.bt_large img {
  padding: 1em;
  height: 50%;
}

/* Toolbar Styles */
.notifSmall {
  width: 10px;
  height: 10px;
  background: url(../images/notif.png);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  -o-background-size: 10px 10px;
  background-size: 10px 10px;
}
.notifLarge {
  width: 30px;
  height: 30px;
  background: url(../images/notif.png);
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background-size: 30px 30px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}