<div ng-controller="ProfileCtrl">

	<div ng-include src="'views/toolbar.html'"></div>

	<div class="prof">
		<div class="EditMode ng-hide" ng-show="editing">
			<!-- <input type="checkbox" ng-click="editingMode()" button-switch checked> -->
			<input type="checkbox" ng-click="editingMode()">
		</div>

		<button ng-click="editingMode()">jd;lakjsdf;lasjdflksaj</button>

		<div class="col-md-6 leftprof">
			<div class="question ng-hide" ng-show="question_show">{{userProfile.question}}</div>
			<div class="embed-responsive embed-responsive-16by9">
				<div class="video embed-responsive-item" user-video video="video"></div>
			</div>
			<div class="Yes_No ng-hide" ng-show="discovering" ng-include src="'views/yes_no.html'"></div>
			<div class="scheduleMeeting ng-hide" ng-show="scheduling">
				<button class="scheduleButton">Find Meeting Time</button>
			</div>
		</div>
		
		<div class="col-md-5 scroll">
			<div ng-if="editing_on != true" class="name">{{userProfile.name}}</div>
			<input ng-if="editing_on" placeholder="{{userProfile.name}}">

			<div class="Experience">
				Experience
				<ul>
					<li ng-repeat="experience in userProfile.experiences">{{experience}}</li>
				</ul>
			</div>
			
			<div class="Passions">
				Passions
				<ul>
					<li ng-repeat="passion in userProfile.passions">{{passion}}</li>
				</ul>
			</div>
		</div>
	</div>

</div>