<div ng-controller="QACtrl">
	<div ng-include src="'views/toolbar.html'"></div>

	<form class = "question_form ng-hide" ng-show="q_form_show">
	<input class="question_input" type="text" name="question" placeholder="What is it like being a woman in tech?"><br>
	<input class="question_submit" type="submit" value="Search" onclick="window.location.href='/#/profile/discover_questioners'">
	</form>

	<form class = "answer_form ng-hide" ng-show="a_form_show">
	<input class="answer_submit" type="submit" value="Search" onclick="window.location.href='/#/profile/discover_answerers'">
	</form>

	<br>
	<div class="matches_header">Matches</div>
	<div ng-hide="myAskMatches">
	<div class="no_matches_text">You don't have any matches!</div>
	</div>

	<div >
		<div ng-repeat="person in displayList track by $index">
			<img src="{{person.image}}">
			<div>{{person.name}}</div>

		</div>
	</div>

</div>